fastapi
uvicorn
sqlalchemy
asyncpg
aiobotocore
pydantic
requests
python-multipart
mlflow
alibi-detect==0.11.4
scikit-image>=0.19.0
scipy>=1.7.0,<1.11.0
numpy>=1.24.0
Pillow>=9.0.0
great_expectations==0.18.0
psutil>=5.9.0
pytest
pytest-asyncio
httpx
plotly
streamlit